*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# some Java compiled stuff i guess
# ._.DS_Store
# ._FourierSarsaAgent-Java-R1337
# ._products
# ._system
._*
.DS_Store

# Ant stuff
build/
!build.xml

*.zip
*.gz
